# Fichier qui permet d'avoir un url propre en haut du site

Options +FollowSymLinks
RewriteEngine On

# j'ai configuré xamp via httpd-vhost.conf présent dans le chemin suivant: C:\xampp\apache\conf\extra, 
# de manière à ce que la racine ne soit plus htdocs 
# mais machineafish donc la base des liens est / seulement du coup au lieu de /machineafish
# ma configuration m'a permis aussi d'avoir en adresse url locale http://machineafish.local

RewriteBase /


# ---------------------------------------------------------
# 1. FORCER LE HTTPS (Sauf en local) 
# ---------------------------------------------------------

RewriteCond %{HTTP_HOST} !^machineafish\.local$ [NC]

# Si le visiteur arrive sur le site de manière non sécurisée (en tapant http:// au lieu de https://)

RewriteCond %{HTTPS} off

# alors attrape toute son adresse, remplace le début par https://, recolle son domaine et le chemin qu'il voulait, 
# et dis à son navigateur (et à Google) que c'est une redirection permanente (301)

RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ---------------------------------------------------------
# 2. SUPPRIMER LE WWW (Sauf en local)
# ---------------------------------------------------------

RewriteCond %{HTTP_HOST} !^machineafish\.local$ [NC]

# Si le visiteur tape un domaine qui commence par www., 
# peu importe les majuscules, garde en mémoire le nom du domaine qui suit.

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

# alors redirige-le vers https:// + le domaine que tu as mis en mémoire (sans le www) 
# + la page qu'il cherchait, avec une redirection permanente.

RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# ---------------------------------------------------------
# 3. LE ROUTEUR PHP (Front Controller)
# ---------------------------------------------------------
# Si le fichier (-d) ou le dossier (-f) demandé existe vraiment=
# Dans le cas où l'utilisateur rentre le nom exact de l'image on affiche directement l'image à l'écran 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout vers index.php en passant la fin de l'URL dans 'route'

RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]