<ul id="navig_poisson">
	<li>
		<a class="filter-btn" href="#morphologie">Morphologie</a>
	</li>
	<li>
		<a class="filter-btn" href="#habitats">Habitats</a>
	</li>
	<li>
		<a class="filter-btn" href="#alimentation">Alimentation</a>
	</li>
	<li>
		<a class="filter-btn" href="#reproduction">Reproduction</a>
	</li>
</ul>
