<div id="navig_fish">
	<a href="index.php?route=brochet">
		<img class="{{ route == 'brochet' ? 'poisson_actif' : '' }}" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/brochet.webp" alt="brochet"/>
	</a>
    <a href="index.php?route=sandre">
		<img class="{{ route == 'sandre' ? 'poisson_actif' : '' }}" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/sandre.webp" alt="sandre"/>
	</a>
    <a href="index.php?route=silure">
		<img class="{{ route == 'silure' ? 'poisson_actif' : '' }}" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/silure.webp" alt="silure"/>
	</a>
    <a href="index.php?route=perche">
		<img class="{{ route == 'perche' ? 'poisson_actif' : '' }}" src="https://dbaqpiukoronlivotpcl.supabase.co/storage/v1/object/public/images_leurres/perche.webp" alt="perche"/>
	</a>
</div>
