main {
    margin-top: 60px;

}

.video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

}

#home_page {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* On ajoute un filtre noir semi-transparent PAR DESSUS la vidéo */
.video_background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* 60% d'opacité noire */
    z-index: 2;
    /* Doit être au-dessus de la balise <video> mais sous le menu*/
    pointer-events: none;
    /* Permet de cliquer à travers si besoin */
}

.video_background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu_visuel {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center; 
    grid-template-columns: repeat(auto-fit, 270px);    
    gap: 20px;
    width: 100%;    
    

}

.lien-menu {
    position: relative;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    
}

/* Création du voile sombre */
.lien-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 0.4 pour un assombrissement efficace */
    z-index: 1; /* Place le voile au-dessus de l'image */
    border-radius: 20px;     
}
.lien-menu img {
    width: 100%;
    height: 100%;
    display: block;/* Supprime l'espace vide sous l'image */    
    object-fit: cover; 
    z-index: 0;
    border-radius: 20px;     
}



.titre-menu {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: white;
    font-weight: bold;
    font-size: 25px; 
    font-family: "Inter", cursive; 
    text-align: center;
    z-index: 2;
      
}



@media(min-width:576px) {
    .menu_visuel {
        grid-template-columns: 1fr; 
    }
    
    .titre-menu {        
        font-size: 30px;
       
    }

    .lien-menu {
         border: 3px solid white;
         width:300px;
         margin: 0 auto;         
    }




}

@media(min-width:992px) {

    .video_background {
        grid-column: 1;
        grid-row: 1/2;
        height: 100%;
    }

    .menu_visuel {
        grid-template-columns: repeat(auto-fit, 300px); 
        gap:40px;
        
    }

    
    
    .titre-menu {        
        font-size: 40px;
       
    }

    .lien-menu {
         border: 4px solid white;
         transition: all 0.3s ease;
    }

    .lien-menu:hover {
         border: 4px solid white;
         transform: scale(1.05);
    }


    .lien {
        width: 300px;
        height: 300px;
        margin: auto auto;
        border: 4px solid white;
        transition: all 0.3s ease;
        font-size: 40px;

    }

    .lien:hover {
        transform: scale(1.05);
    }

    

    #home_page {
        position: relative;
        /* Important pour que la vidéo absolue se cale par rapport à lui */
        display: flex;
        /* Active le mode Flexbox */
        justify-content: center;
        /* Centre horizontalement */
        align-items: center;
        /* Centre verticalement (C'est ça que tu veux !) */
        min-height: 80vh;
        /* Force une hauteur mini pour bien voir l'effet (ajuste selon la taille de ton header/footer) */
        overflow: hidden;
        /* Coupe ce qui dépasse*/

    }

}

@media(min-width:1200px) {
    
}

@media(min-width:1400px) {
    
}