{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/recettes.css">
	{{parent()}}
{% endblock %}

{% block title %}
	Recettes de cuisine
{% endblock %}

{% block description %}
	Détails des recettes de cuisine des carnassiers d'eau douce
{% endblock %}

{% block main %}
	<main>
		<app-root></app-root>
	</main>
{% endblock %}
{% block javascripts %}
	<script src="main.js" type="module"></script>
	{{ parent() }}
{% endblock %}
